<?xml version='1.0' encoding='utf-8'?>
<widget id="ec.reviceci.app" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ReciVeci App</name>
    <description>
        Aplicación para el proyecto ciudadano ReciVeci, el cuál está enfocado en incrementar y potenciar la labor de los recicladores en el Ecuador, a través de la educación e involucramiento de la ciudadanía con el trabajo y asociatividad de los recicladores de base.
    </description>
    <author email="info@reciveci.ec" href="http://www.reciveci.ec">
        ReciVeci
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
