<div ng-controller="AffiliationsController">

 <ons-navigator title="Navigator" var="affiliationNavigator">
<ons-page>

<ons-modal var="modal">
  <i class="fa fa-spinner fa-spin fa-2x"></i>
</ons-modal> 

<ons-pull-hook var="loader" ng-action="loadDataPull($done)">
        <span ng-switch="loader.getCurrentState()">
          <span ng-switch-when="initial"><ons-icon size="35px" icon="ion-arrow-down-a"></ons-icon> Baje para refrescar</span>
          <span ng-switch-when="preaction"><ons-icon size="35px" icon="ion-arrow-up-a"></ons-icon> Libere para refrescar</span>
          <!-- <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> Cargando...</span> -->
        </span>
 </ons-pull-hook>


<ons-list>
        <ons-list-item class="centered error-connection" ng-hide="success">
          <ons-icon size="35px" icon="ion-sad-outline"></ons-icon>
          <div class="info">
            Algo se ha salido fuera de control, vuelve a intentar por favor
          </div>
        </ons-list-item>

        
       

        <ons-list-item modifier="chevron" class="news-entry" ng-repeat="(ciudad, newObj) in groups">

       <ons-list-header>{{ciudad}}</ons-list-header>

       </ons-list-item>

        <ons-list-item modifier="chevron" class="news-entry" ng-repeat="affiliation in newObj" ng-click="showDetail(newObj)">
          <ons-row>
            <ons-col width="95px">
             <img class="subcat-pic" ng-src="{{affiliation.image_url}}"/>
            </ons-col>
            <ons-col>
              <div class="news-title">
                {{affiliation.nombre}}
              </div>
              <div class="news-date">{{affiliation.sector}}</div>
            </ons-col>
            <ons-col width="20px"></ons-col>
          </ons-row>

        </ons-list-item>
      </ons-list>
    </ons-page>
  </ons-navigator>

 <ons-template id="new.html">
    <ons-page ng-device-backbutton="affiliationNavigator.popPage()">
      <ons-modal var="newImageModal">
          <img class="image-zoom" ng-src="{{currentNew.image_url}}" onclick="newImageModal.hide()"/>
        <ons-icon class="close-button top-right" size="35px" icon="ion-close-circled" onclick="newImageModal.hide()">
        </ons-icon>
      </ons-modal>
      <ons-toolbar>
        <div class="left">
          <ons-back-button>Regresar</ons-back-button>
        </div>
      </ons-toolbar>
      <div class="news-page">
        <div class="affiliations-title">{{currentNew.nombre}}</div>
        <div class="centered" ng-show="currentNew.image_url">
        <img class="affiliations-image" ng-src="{{currentNew.image_url}}" ng-click="showImage()"/>
        </div>
        <div class="affiliations-content">{{currentNew.sector}}</div>
        <div class="affiliations-content">{{currentNew.direccion}}</div>
        <div class="affiliations-content" onclick="window.open('tel: {{69000000}}', '_system')"><span class="affiliation affiliation-phone">{{currentNew.telefono}}</span></div>
        <div class="affiliations-content" onclick="window.open('mailto:info@reciveci.ec?subject=Contacto', '_system');"><span class="affiliation affiliation-email">{{currentNew.email}}</span></div>
      </div>
    </ons-page>
  </ons-template>








</div>