<div ng-controller="MapController"3>

<!--ANTIGUA BARRA DE NAVEGACION LATERAL (NO BORRAR CODIGO )>
	<!--<ons-navigator title="Navigator" var="mapNavigator">
	<!-- <ons-navigator title="Navigator" var="mapNavigator" ons-postpush="pilotNotification($event);"> 
		<ons-page>
				<nav id='filters' class='filter-ui'>
					<label for="layerWastePickers">Reciclador@s</label>
					<input id="layerWastePickers" type="checkbox" onclick="ShowHideLayers(event)" checked="checked" />
					<br>
					<br>

					<label for="layerBusiness">Negocios</label>
					<input id="layerBusiness" type="checkbox" onclick="ShowHideLayers(event)">
									
					<br>
					<br>
					<label for="layerAffiliations">Centros de Acopio</label>
					<input id="layerAffiliations" type="checkbox" onclick="ShowHideLayers(event)"/>
				</nav>

    	
    		
    		<div id="map"></div>
		</ons-page>
	</ons-navigator>
-->





<ons-sliding-menu main-page="page1.html" menu-page="menu.html" side="left" max-slide-distance="250px" var="menu" >



</ons-sliding-menu>

<ons-template id="page1.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="menu.toggleMenu()">
          <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center" var="mapNavigator">ENTREGA</div>
    </ons-toolbar>
    <div id="map"></div>

    <p style="text-align: center; color: #999; padding-top: 100px;">Page1 Contents</p>
  </ons-page>
</ons-template>




<ons-template id="menu.html">
  <ons-list>
    <ons-list-item >
      <label for="layerWastePickers">Reciclador@s</label>
		<input id="layerWastePickers" type="checkbox" onclick="ShowHideLayers(event)" checked="checked" />
    </ons-list-item>
    <ons-list-item>
      <label for="layerBusiness">Negocios</label>
		<input id="layerBusiness" type="checkbox" onclick="ShowHideLayers(event)">
    </ons-list-item>
    <ons-list-item>
      <label for="layerAffiliations">Centros de Acopio</label>
		<input id="layerAffiliations" type="checkbox" onclick="ShowHideLayers(event)"/>
    </ons-list-item>


  </ons-list>
</ons-template>



	<ons-template id="profile.html">
		<ons-page modifier="shop-details">
<!-- 			<ons-toolbar fixed-style>
			    <div class="left"><ons-back-button>Back</ons-back-button></div>
			</ons-toolbar> -->
			<ons-toolbar modifier="transparent">
	          <div class="left">
	            <ons-toolbar-button ng-click="mapNavigator.popPage()">
	            	<!-- <ons-back-button> -->
	            		<ons-icon icon="ion-arrow-left-c" class="profile-backbutton">
	            		</ons-icon>
	            	<!-- </ons-back-button> -->
	        	</ons-toolbar-button>
	          </div>
	        </ons-toolbar>

			<div class="profile-card">
				<img class="profile-image" ng-src="{{currentWastePicker['waste_picker-image_url']}}"/>
				<div class="profile-name">@{{currentWastePicker["waste_picker-name"]}}</div>
				<div class="profile-message">"{{currentWastePicker["waste_picker-message"]}}"</div>
			</div>

			<ons-list modifier="inset">
		        <ons-list-item>
							<ons-row>
		            <ons-col width="40px">
		              <ons-icon icon="ion-android-walk" style="color: {{currentWastePicker['color']}}; opacity: 0.4;" class="profile-icon-detail"></ons-icon>
		            </ons-col>
		            <ons-col>
									<div class="formvalue">{{currentWastePicker["schedule"]}}</div>
		            </ons-col>
		          </ons-row>
		        </ons-list-item>
		        <ons-list-item ng-show="currentWastePicker['affiliation-name']">
							<ons-row>
		            <ons-col width="40px">
		              <ons-icon icon="ion-ios-people" class="profile-icon-detail"></ons-icon>
		            </ons-col>
		            <ons-col>
									<div class="formvalue">{{currentWastePicker["affiliation-name"]}}</div>
		            </ons-col>
		          </ons-row>
		        </ons-list-item>
		        <ons-list-item>
							<ons-row>
		            <ons-col width="40px">
		              <ons-icon icon="user" class="profile-icon-detail"></ons-icon>
		            </ons-col>
		            <ons-col>
		              <div class="formvalue">{{currentWastePicker["waste_picker-birth_date"] | ageFilter}} años de edad</div>
		            </ons-col>
		          </ons-row>
		        </ons-list-item>
		        <ons-list-item>
							<ons-row>
		            <ons-col width="40px">
		              <ons-icon icon="recycle" class="profile-icon-detail"></ons-icon>
		            </ons-col>
		            <ons-col>
		              <div class="formvalue">{{currentWastePicker["waste_picker-start_date"] | ageFilter}} años reciclando</div>
		            </ons-col>
		          </ons-row>
		        </ons-list-item>
		        <ons-list-item>
							<ons-row>
		            <ons-col width="40px">
		              <ons-icon icon="ion-android-textsms" class="profile-icon-detail"></ons-icon>
		            </ons-col>
		            <ons-col>
		              <div class="formvalue">{{currentWastePicker["waste_picker-background"]}}</div>
		            </ons-col>
		          </ons-row>
		        </ons-list-item>
	      	</ons-list>
		</ons-page>

	</ons-template>



</div>
