<div ng-controller="RecyclingController">

  <ons-navigator title="Navigator" var="recyclingNavigator" ons-postpop="handlePostPop($event);">
    <ons-page>

      <ons-modal var="modal">
        <i class="fa fa-spinner fa-spin fa-2x"></i>
      </ons-modal>

      <ons-pull-hook var="loader" ng-action="loadDataPull($done)">
        <span ng-switch="loader.getCurrentState()">
          <span ng-switch-when="initial"><ons-icon size="35px" icon="ion-arrow-down-a"></ons-icon> Baje para refrescar</span>
          <span ng-switch-when="preaction"><ons-icon size="35px" icon="ion-arrow-up-a"></ons-icon> Libere para refrescar</span>
          <!-- <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> Cargando...</span> -->
        </span>
      </ons-pull-hook>



      <ons-list>
        <ons-list-item class="centered error-connection" ng-hide="success">
          <ons-icon size="35px" icon="ion-sad-outline"></ons-icon>
          <div class="info">
            Algo se ha salido de control, vuelve a intentar por favor
          </div>
        </ons-list-item>
      </ons-list>
      <ons-list-item class="waste-type-name recyclable">
        Reciclables
      </ons-list-item>
      <ons-list-item>
        <ons-row>
          <ons-col>
            <div class="centered" ng-repeat="cat in separate[0].categories_col1" ng-click="showSubcategory(cat, 'REC')">
              <img class="catpic" ng-src="{{cat.image_url}}"/>
            </div>
          </ons-col>
          <ons-col>
            <div class="centered" ng-repeat="cat in separate[0].categories_col2" ng-click="showSubcategory(cat, 'REC')">
              <img class="catpic" ng-src="{{cat.image_url}}"/>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>
      <ons-list-item class="waste-type-name no-recyclable">
        No reciclables
      </ons-list-item>
      <ons-list-item>
        <ons-row>
          <ons-col>
            <div class="centered" ng-repeat="cat in separate[1].categories_col1" ng-click="showSubcategory(cat, 'NRE')">
              <img class="catpic" ng-src="{{cat.image_url}}"/>
            </div>
          </ons-col>
          <ons-col>
            <div class="centered" ng-repeat="cat in separate[1].categories_col2" ng-click="showSubcategory(cat, 'NRE')">
              <img class="catpic" ng-src="{{cat.image_url}}"/>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>
    </ons-page>

  </ons-navigator>


  <ons-template id="subcategories.html">
    <ons-page>
      <ons-modal var="subcatImageModal">
        <img class="image-zoom" ng-class="{ 'back-recyclable': currentWasteType == 'REC', 'back-no-recyclable': currentWasteType == 'NRE' }" ng-src="{{subcat.image_url}}" onclick="subcatImageModal.hide()"/>
        <ons-icon class="close-button top-right" size="35px" icon="ion-close-circled" onclick="subcatImageModal.hide()">
        </ons-icon>
      </ons-modal>
      <ons-toolbar class="category-toolbar">
        <div class="left">
          <ons-back-button>Regresar</ons-back-button>
          <span class="category-name">
            {{currentCategory.name}}
          </span>
        </div>
      </ons-toolbar>
      <ons-list>
        <ons-list-item ng-repeat="sub in currentCategory.subcategories" class="subcat-list-item">
          <ons-row>
            <ons-col width="95px">
              <img class="subcat-pic" ng-class="{ 'back-recyclable': currentWasteType == 'REC', 'back-no-recyclable': currentWasteType == 'NRE' }" ng-src="{{sub.image_url}}" ng-click="showImage(sub)"/>
            </ons-col>
            <ons-col>
              <div class="subcat-name" ng-class="{ 'recyclable': currentWasteType == 'REC', 'no-recyclable': currentWasteType == 'NRE' }">
                {{sub.name}}
              </div>
              <div class="subcat-examples">{{sub.examples}}</div>
              <div class="subcat-instructions" ng-show="sub.instructions">
                <ons-icon icon="ion-android-alert" class="subcat-instructions-icon"></ons-icon>
                {{sub.instructions}}
              </div>
            </ons-col>
            <ons-col width="20px"></ons-col>
          </ons-row>
        </ons-list-item>
       </ons-list>
    </ons-page>
  </ons-template>


</div>
