<div ng-controller="RecyclingController">
  <ons-toolbar fixed-style>
    <div class="center sectionbar">{{recyTitle}}</div>
  </ons-toolbar>

  
  <ons-navigator title="Navigator" var="recyclingNavigator">
    <ons-page>
      
      <ons-modal var="modal">
        <i class="fa fa-spinner fa-spin fa-2x"></i>
      </ons-modal>

      <ons-list>
        <ons-list-item modifier="chevron" ng-repeat="cat in categories" ng-click="showSubcategory($index)">
          {{cat.name}}
      </ons-list>
    </ons-page>
  </ons-navigator>
    
    
  <ons-template id="subcategories.html">
    <ons-page>
      <ons-list>
        <ons-list-item modifier="chevron" ng-repeat="sub in subcategories" ng-click="showRecyWays($index)">
          <div>{{sub.name}}</div>
          <span class="newsdate">{{sub.description}}</span>
      </ons-list>
      <ons-bottom-toolbar>
        <div class="right">
          <ons-back-button ng-click="refreshTitleOrigin();">Regresar</ons-back-button>
        </div>
      </ons-toolbar>
    </ons-page>
  </ons-template>

  <ons-template id="recy_ways.html">
    <ons-page>
      <ons-list>
         
        <ons-list-item ng-repeat="way in recy_ways">
          {{way.description}}
      </ons-list>
      <ons-bottom-toolbar>
        <div class="right">
          <ons-back-button ng-click="refreshTitleCategory();">Regresar</ons-back-button>
        </div>
      </ons-toolbar>
    </ons-page>
  </ons-template>
        
</div>

