<div ng-controller="RecyclingController">
  <ons-toolbar>
    <div class="center contact"><strong>{{recyTitle}}</strong></div>
  </ons-toolbar>

  <ons-navigator title="Navigator" var="recyclingNavigator">
    <ons-page>
      <ons-list>
         <ons-list-item>
          <div class="center contact">Tipo de residuo</div>
         </ons-list-item>
        <ons-list-item modifier="chevron" ng-repeat="cat in categories" ng-click="showSubcategory($index)">
          {{cat.name}}
        
      </ons-list>
    </ons-page>
  </ons-navigator>
    
    
  <ons-template id="category.html">
    <ons-page>
      <div class="center contact">{{category.name}}</div>
      <ons-list>
         <ons-list-item>
          <div class="center contact">Tipo de residuo</div>
         </ons-list-item>
        <ons-list-item modifier="chevron" ng-repeat="sub in subcategories">
          {{sub.name}}
      </ons-list>
      <ons-bottom-toolbar>
        <div class="left">
          <ons-back-button>Regresar</ons-back-button>
        </div>
      </ons-toolbar>
    </ons-page>
  </ons-template>
        
</div>

