@font-face {
    font-family:"ArialRounded";
    src: url("../fonts/arial-rounded-mt-bold.ttf")
}



.page--full_bg__background {
  background: url('../images/background_tree_02_small.jpg');
  background-size: auto 100%;
  /*
  background-repeat: no-repeat;
  */
  opacity: 0.3;
  background-position: center center;
}


#map {
    height: 100%;
}

.page__background {
  background-color: white;
}


.maintoolbar {
    background-color: #1f9cd9;
}

.maintoolbartext {
  font-size: 22px;
  color: white;
  font-family:'ArialRounded', sans-serif;
  letter-spacing: 1.5px;
}



.maintoolbaricon {
   padding-right: 0px;
   margin-top: 2px;
}

.maintoolbariconimage {
   width: 52px;
}

ons-tabbar-item ons-icon {
  font-size: 30px !important; 
}


.maintoolbar-notification {
  /*
  float: left;
  margin-top: 2px;
  font-size: 14px;
  height: 16px;
  line-height: 16px;
  min-width: 16px;
  font-weight: 600;
  */
   position: absolute;
  margin-left: 10px;
  margin-top: -44px;
  min-width: 16px;
  font-size: 16px;
  line-height: 16px;
  height: 16px;
}


.reply-notification {
  position: absolute;
  right: 18px;
  top: 8px;
  font-size: 10px;
  font-weight: 600;
  height: 13px;
  line-height: 13px;
  padding: 0 4px;
  min-width: 13px;
}


.tab-icon {
  font-size: 28px;
  vertical-align: -4px;
}




.logo {
  max-width: 250px;
  width: 75%;
  height: auto;
  padding-top: 50px;
}



.startbutton {
  background-color: #1f9cd9;
  font-size: 28px;
  position: absolute;
  bottom:   10%;
  /*
  background-color: #222;
  font-weight: 600;
  */
  font-family:'ArialRounded', sans-serif;
  letter-spacing: 1.5px;
}


.centered {
  text-align: center;
}

.wastepickerpic {    
  width: 50px;
  max-width: 50px;
  height: auto;
  padding: 10px 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: white;
}


.leaflet-container a.leaflet-popup-close-button {
  width: 30px;
  height: 30px;
  font: 30px/30px Tahoma, Verdana, sans-serif;  
  padding: 0px 0px 0 0;
  }


:checked + .tab-bar__button > .tab-bar__icon {
  color: #1f9cd9;
}

.sectionbar {
  background-color: #e2f0e3;
  color: #1f9cd9;
  font-weight: bold;
  font-size: 20px;
}

.error-connection {
  padding-top: 10px;
}


.newstitle {
  font-size: 20px;
  /*opacity: 0.7;*/
  padding-top: 10px;
  padding-bottom: 0px;
  /*font-weight: bold;*/
}


.newscontent {
  padding-top: 15px;
  padding-bottom: 15px;
}

.newsentry {
  line-height: 1.2;
  font-size: 20px;
  padding: 15px 35px 15px 15px;
}

.newspage {
  padding: 0px 10px 10px 10px;
}

.newspic {    
  max-width: 90%;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  /*background-color: red;*/
}

.newsdate {
  opacity: 0.5;
  font-size: 12px;
}


.map-popup {
  padding-top: 5px;
}

.profile-link:visited,.profile-link {
  text-decoration: none;
  /*color: #1f9cd9;*/
}

.profile-icon {
  font-size: 35px;
}


.page--shop-details__content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px !important;
  bottom: 0px;
}

/*
.profile-card:before {
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.7;

}
*/

.profile-card {
  background-color: white;
  background-image: url(../images/background_tree_01.jpg);
  background-repeat: no-repeat;
  /*background-size: 100%;*/
  background-size: cover;

  width: 100%;
  text-align: center;
  color: white;
  padding: 30px 0;
  line-height: 1.4;
  text-shadow: rgba(0,0,0,0.4) 0px 1px 0px;
}



.profile-image {
  width: 100px;
  height: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: black;
  border 1px solid white;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
}


.profile-name {
  margin: 7px 0 0 0;
  font-weight: 600;
  font-size: 20px;
}

.profile-message {
  font-size: 15px;
  opacity: 0.75;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.profile-backbutton {
  font-size: 46px;
  opacity: 1;
  color: #1f9cd9;
  padding-top: 10px;
  padding-left: 5px;
}



.formvalue {
  position: absolute;
  right: 25px;
  top: 0px;
  font-size: 14px;
}




.tab {
    line-height: 1;
}


/*
.tab-icon {   
    padding: 0;
    margin: 0;
    vertical-align: top;
    line-height: 28px;
}
*/

.tab-label {
    line-height: 11px;
    vertical-align: top;
    font-size: 11px;
}



.switch--list-item {
    margin-right: 0px;
}

.settings-header {
    font-weight: 500;
    font-size: 14px;
    opacity: 0.4;
    padding: 10px 0 0px 10px;
    margin-bottom: -4px;
}

.settings-list {
    margin-top: 10px;
}

.item {
    padding: 10px;
    line-height: 1;
}

.item-thum {
    background-color: #ccc;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
}

.item-title {
    font-size: 15px;
    font-weight: 500;
}

.item-desc {
    font-size: 14px;
    color: #666;
    line-height: 1.3;
    margin: 4px 0 0 0;
    padding: 0 30px 0 0;
}

.item-label {
    font-size: 12px;
    color: #999;
    float: right;
}


.contact {
  position: absolute;
  right: 25px; 
}

.contact-fb {
  color: #3b5998;
}

.contact-tw {
  color: #4099FF;
}

.contact-web {
  color: #3BAA35;
}

.contact-email {
  color: #1f9cd9;
}


.card {
  background-color: black;
  background-image: url('../images/book.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #1F9CD9;
  height: 250px;
}

.card-desc {
  font-size: 20px;
  font-weight: 600;
  opacity: 0.9;
  text-align: left;
  line-height: 1.3;
  color:#000000;
}

.recyTitle {
  font-size: 20px;
  padding-top: 12px;
  padding-bottom: 0px;
  /*font-weight: bold;*/
}

.recyContent {
  padding-top: 1px;
  padding-bottom: 5px;
  line-height: 1.0;
}

.recyEntry {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 0px;
  font-weight: bold;
  line-height: 1.0;
}

.entryPic {    
  max-width: 95%;
  height: auto;
  padding-top: 25px;
  padding-bottom: 5px;
}


