#map {
    height: 100%;
}

.page__background {
  background-color: white;
}


.maintoolbar {
    background-color: #1f9cd9;
}

.maintoolbartext {
  font-size: 22px;
  color: white;
}



.maintoolbaricon {
   color: white;
   padding-right: 10px;
   margin-top: 4px;
}


.logo {
  max-width: 250px;
  width: 75%;
  height: auto;
  padding-top: 50px;
}



.startbutton {
  background-color: #222;
  font-size: 24px;
  position: absolute;
  bottom:   10%;
}


.centered {
  text-align: center;
}

.wastepickerpic {    
  width: 50px;
  max-width: 50px;
  height: auto;
  padding: 10px 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: white;
}


.leaflet-container a.leaflet-popup-close-button {
  width: 30px;
  height: 30px;
  font: 30px/30px Tahoma, Verdana, sans-serif;  
  padding: 0px 0px 0 0;
  }


:checked + .tab-bar__button > .tab-bar__icon {
  color: #1f9cd9;
}

.sectionbar {
  /*background-color: #222;*/
  color: #1f9cd9;
  font-weight: bold;
}


.newstitle {
  font-size: 20px;
  /*opacity: 0.7;*/
  padding-top: 10px;
  padding-bottom: 0px;
  font-weight: bold;
}


.newscontent {
  padding-top: 15px;
  padding-bottom: 15px;
}

.newsentry {
  line-height: 1.2;
  /*font-size: 20px;*/
  padding: 15px 35px 15px 15px;
}

.newspage {
  padding: 0px 10px 10px 10px;
}

.newspic {    
  max-width: 90%;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  /*background-color: red;*/
}

.newsdate {
  opacity: 0.5;
  font-size: 12px;
}


.map-popup {
  padding-top: 10px;
}

.profile-link:visited,.profile-link {
  text-decoration: none;
  /*color: #1f9cd9;*/
}

.profile-icon {
  font-size: 30px;
}



.profile-card {
  width: 100%;
  text-align: center;
  color: white;
  padding: 30px 0;
  line-height: 1.4;
  background-color: #222;
  /*opacity: 0.7;*/
  text-shadow: rgba(0,0,0,0.4) 0px 1px 0px;
}



.profile-image {
  width: 100px;
  height: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: black;
  border 1px solid white;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
}


.profile-name {
  margin: 20px 0 0 0;
  font-weight: 600;
  font-size: 17px;
}

.profile-message {
  font-size: 15px;
  opacity: 0.7;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}


.formvalue {
  position: absolute;
  right: 25px;
  top: 0px;
  font-size: 14px;
}




.tab {
    line-height: 1;
}


.tab-icon {
    
    padding: 0;
    margin: 0;
    vertical-align: top;
    line-height: 28px;
}

.tab-label {
    line-height: 11px;
    vertical-align: top;
    font-size: 11px;
}



.switch--list-item {
    margin-right: 0px;
}

.settings-header {
    font-weight: 500;
    font-size: 14px;
    opacity: 0.4;
    padding: 10px 0 0px 10px;
    margin-bottom: -4px;
}

.settings-list {
    margin-top: 10px;
}

.item {
    padding: 10px;
    line-height: 1;
}

.item-thum {
    background-color: #ccc;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
}

.item-title {
    font-size: 15px;
    font-weight: 500;
}

.item-desc {
    font-size: 14px;
    color: #666;
    line-height: 1.3;
    margin: 4px 0 0 0;
    padding: 0 30px 0 0;
}

.item-label {
    font-size: 12px;
    color: #999;
    float: right;
}

.fb{
    font-family: bold "lucida grande", tahoma, verdana, arial, sans-serif;  
    color: #3b5998;
    padding-left: 25px;
}

.tw{
    font: bold Helvetica, Arial, sans-serif;
    color: #4099FF;
    padding-left: 3px;
}

.card {
  background-color: black;
  background-image: url('../images/book.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #1F9CD9;
  height: 250px;
}

.card-desc {
  font-size: 20px;
  font-weight: 600;
  opacity: 0.9;
  text-align: left;
  line-height: 1.4;
  color:#000000;
}

